.fts_065{font-size: 0.65em;}
.fts_060{font-size: 0.60em;}
.fts_070{font-size: 0.70em;}
.fts_075{font-size: 0.75em;}
.fts_080{font-size: 0.80em;}
.fts_085{font-size: 0.85em;}
.fts_090{font-size: 0.90em;}
.fts_095{font-size: 0.95em;}
.fts_100{font-size: 1em;}
.fts_110{font-size: 1.1em;}
.fts_120{font-size: 1.2em;}
.fts_130{font-size: 1.3em;}
.fts_140{font-size: 1.4em;}
.fts_150{font-size: 1.5em;}
.fts_160{font-size: 1.6em;}
.fts_170{font-size: 1.7em;}
.fts_180{font-size: 1.8em;}
.fts_190{font-size: 1.9em;}
.fts_200{font-size: 2em;}
.fts_400{font-size: 4em;}
.fts_500{font-size: 5em;}
.fts_600{font-size: 6em;}
.fts_700{font-size: 7em;}
.fts_800{font-size: 8em;}
.fts_900{font-size: 9em;}
.fts_1000{font-size: 10em;}


.b{font-weight: bold;}
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }